
body,html{
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #2e354f;
}

/*images*/
img{
	/*width: 250px;*/
	width: 100%;
}

h1, h2, strong {
	font-weight: 900;
}

/*Typography*/
h1{
	font-size: 36px;
	margin: 0;
}

h2{
	font-size: 24px;
	color: #ef5839;
}

a{
	color: #ef5839;
}

a:hover, 
a:focus{
	color: #d4b44c;
}


/*buttons*/
.btn{
	display: inline-block;
	padding: 10px 25px;
	text-decoration: none;
}

.btn-white{
	background: #fff;
	color: #2e354f;
}

.btn-accent{
	background: #ef5839;
	color: #fff;
}

.btn-accent:hover{
	color: #2e354f;
	background: #d4b44c;
}

.btn-white:hover{
	background: #ef5839;
	color: #fff;
}


/*layout*/
header{
	background: #2e354f;
	padding: 45px 0;
	color: #fff;
}

section{
	padding: 45px 0;
}

/*Block level elements by default have a width of 100%  .   

A percentage is always relative to its parent.

*/


.container{
	/*width: 620px;*/
	width: 90%; /*looks best on small screen*/
	max-width: 620px; /*620px is the maximum width of the container - it can't exceed*/
	/*min-width: 500px;*/
	margin: 0 auto;
	/*border:2px solid magenta;*/
}

.section-two{
	background: #2e354f;
	color: #fff;
}


/*image*/
/*.model-img{
	max-width: 100%;
}*/


/*orientation - can be used on tablets*/
@media (min-width:500px) and (orientation:landscape){
	body{
		background:  blue;
	}
}

/*from a minimum width of 400px and bigger*/
/*@media (min-width: 400px){
	body{
		background: lime;
	}
}
*/

/*@media (min-width: 650px){
	body{
		background: orange;
	}
}*/

/*Media queries
- they let us add new styles that target only specific conditions
basic syntax
@media () { .... }
@media media-type {...}
@media media-type and (media-features) {...}
-> the media type let's us target different types of media
- screen @media screen {...}
- print  @media print {...}
- speech @media speech{...}
-> the media condition let's us target specific conditions within that media type.
- widths     @media(min-width: 600px) {...}
- orientation @media(orientation:landscape) {...}
- specific features  @media(hover) {...}
**  Both media types and conditions are optional.
we do need to either have a type or condition though. 
e.g.
@media screen {....}   can target only screen
@media (min-width: 960px) {...}  can choose only a condition such as the width of the viewport
can combine a type and condition by using "and"
@media screen and (min-width: 960px){...}
can combine 2 conditions
@media (min-width:400px) and (max-width: 649px){....}

*/



